 :root
{
  --Pink: #BB33FF;
  --UNC-Gold: #BB33FF;
  --UNC-Gray: #8a8a8d;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(#BB33FF);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(#BB33FF) solid;
}
section
{
    border: 5px var(--Pink) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--UNC-Gold);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
