:root
{
  --Light-Cream: #FFF8E7;
  --Deep-Red: #8B0000;
  --Dark-Brown: #654321;
}
body
{
    background-color: var(--Dark-Brown);
}
*
{
    color: var(--Light-Cream);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(--Deep-Red) solid;
}
section
{
    border: 5px var(--Light-Cream) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--Deep-Red);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
