:root
{
  --Light-Cream: #edbb99;
  --Light-Grey: #ccd1d1;
  --Dark-Brown: #654321;
}
body
{
    background-color: var(--Dark-Brown);
}
*
{
    color: var(--Light-Cream);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 7px var(--Light-Grey) solid;
}
section
{
    border: 5px var(--Light-Cream) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--Light-Grey);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
