:root {
  --UNC-Gray: #8a8a8d;
  --Dark-Purple: #6a0dad;
  --Lighter-Purple: #aa7fd5;
}

body {
    background-color: var(--UNC-Gray); /* Gray background */
}

* {
    color: var(--Dark-Purple); /* Dark purple text color */
    text-align: center;
}

h1 {
    font-size: calc(12pt + 4vw);
    color: var(--Dark-Purple); /* Dark purple for h1 */
}

nav {
    border: 7px var(--Dark-Purple) solid; /* Dark purple border for nav */
}

section {
    border: 5px var(--Dark-Purple) solid; /* Dark purple border for sections */
    margin: 5px;
    margin-top: 50px;
}

.date {
    color: var(--Dark-Purple); /* Dark purple for .date */
}

ul {
    list-style: none;
    padding-left: 0px;
    color: var(--Lighter-Purple); /* Lighter purple for ul */
}
